h1 {
  color: #c98888;
  font-size: 100px;
  margin: 20px auto;
  display: block;
  font-family: monospace;
  padding: 0;
}

h2 {
  color: #c98888;
  font-size: 60px;
  margin: 20px auto;
  display: block;
  font-family: "Anek Gujarati", sans-serif;
  padding-left: 1em;
  text-align: center;
}

form {
  display: block;
  text-align: right;
}

img {
  width: 30%;
  padding: 0;
  margin: 20px auto;
  display: block;
  position: relative;
  top: 20px;
  right: 10px;
}

div.col {
  color: #c98888;
  font-size: 40px;
  margin: 20px auto;
  display: block;
  font-family: "Anek Gujarati", sans-serif;
  padding-left: 1em;
  text-align: center;
  position: relative;
  top: 20px;
  right: 10px;
}
